# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Claude settings
.claude/
/.cursor

# dont commit docs
docs/

# others
.ruff_cache/

# Git worktrees
.worktrees/